.footer_horizontal {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex-wrap: nowrap;
    /* position: relative;
    bottom: 0%; */
    color: black;
    height: 550px;
}

@media (max-width: 480px) {
    .footer_horizontal {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* position: absolute; */
        height: 180vh;
    }

    .mobile__footer {
        position: absolute;
        top: 82%;
    }

    .mobile__logo-footer {
        position: absolute;
        top: 78%;
        left: 15%;
    }

    .mobile__footer h3 {
        text-align: center;
    }

}