h1 {
    font-weight: 1000;
    font-size: 200%
}

h2 {
    font-weight: 800
}

h3 {
    font-weight: 600
}

h4 {
    font-weight: 400
}

h5,
h6 {
    font-weight: 200
}

a {
    font-weight: 800;
    font-size: smaller;
    color: black;
    text-decoration: none;
}

select {
    outline: none;
    background-color: transparent;
}

.active_herder {
    display: flex;
    align-items: center;
}

/* .active_herder::before {
    content: '.';
    font-size: 200%;
    position: absolute;
    bottom: 70%;
    width: 100%;
    height: 2px;
    opacity: 0%;
    transition: padding-bottom padding-bottom opacity 0.5s ease-in;
} */

/* animation */


select:hover,
a:hover {
    cursor: pointer;
    color: #B34B1E;
    padding-bottom: 1rem;
}

.active_herder:hover::before {
    opacity: 100%;
    color: #B34B1E;
    padding-left: 1rem;
}

#nature_headtitle {
    font-size: 550%;
    letter-spacing: 0.2em;
    font-family: signCountry;
    text-align: right;
    color: white;
}

.navbar_horizontal {
    display: flex;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
    height: 650px;
    margin-bottom: 20px;
    color: white;
}

@media (max-width: 480px) {
    .disabled_responsive {
        display: none;
    }

    .logo_responsive {
        position: absolute;
        top: 0;
        left: 1%;
    }

    .mobile_navbar {}

    #nature_headtitle {
        font-size: 350%;
        letter-spacing: 0.2em;
        font-family: signCountry;
        text-align: right;
        color: white;
    }

    .disabled_responsive--active {
        position: absolute;
        top: 15%;
        left: 3%;
        z-index: 10;
    }
}

@media (min-width: 720px) {
    .logo_responsive {
        display: none;
    }

    .disabled_responsive--active {
        display: none;
    }
}