@font-face {
    font-family: signCountry;
    src: url('../../public/font/tomatoes/Tomatoes400.ttf');
}

#text_VietNam {
    font-family: signCountry;
    font-size: 650%;
    margin: 2rem;
    color: #FFD772;
}

.hoverButton button:hover {
    background-color: #B34B1E;
    color: white;
}

.container-background {
    position: absolute;
    top: 0%;
    z-index: 10;
}

@media (max-width: 480px) {
    .mobile_album {
        display: none;
    }

    .mobile_mainImage {
        display: none;
    }

    .mobile__mapVietNam {
        display: none;
    }

    #text_VietNam {
        font-family: signCountry;
        font-size: 250%;
        margin: 2rem;
        color: white;
        z-index: 100;
    }

    .mobile__includesMain {
        display: none;
    }
}

@media (min-width: 720px) {
    .mobile__mapVietNam--active {
        display: none;
    }

    .mobile_mainImage--active {
        display: none;
    }
}