@font-face {
    font-family: signCountry;
    src: url('../../public/font/tomatoes/Tomatoes400.ttf');
}

#text_VietNam {
    font-family: signCountry;
    font-size: 550%;
    margin: 2rem;
    color: #FFD772;
}